body{
    background-color: #433f3f;
    color: white;
}
.smlpic{
    height: 70%;
    width: 100%;
    background-color: rgb(92, 89, 89);
}
.clubblock{
    margin: 10px;
    border: .5rem solid rgb(0, 0, 0);
    background-color: rgb(61, 55, 55);
   
}
form{
    width: 100%;
    margin: 2rem;
    /* border: 3px solid black; */
    
}
.putters{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: white;
}
.create-acc{
    display: flex;
    width: 100%;
    justify-content: center;
   
}
.words{
    color: black;

}
img{
    height: 400px;
    width: 400px;
}
header{
    display: flex;
    justify-content: center;
    padding: 3rem;
}
.putter_form{
    display: flex;
    justify-content: center;
    margin: 5rem;
    width: 40%;
}

.putter_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price_cart{
    margin: 5rem;
}
.putt_spec_img{
    margin-left: 2rem;
    border: 3px solid black;
}
.users{
    margin: 1rem;
    height: 4rem;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(92, 89, 89);
    color: aliceblue;
    border: .5rem solid black;

}
.user_sec{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}
#featured{
    margin: 4rem;
}
.trending{
    margin: auto;
    width: 50%;
    padding-left: 300px;
}