{% extends 'base.html' %} {%block body %}
<div class="create-acc">
  <section>
    <h2>Create an Account</h2>
    <form class="p-3" action="/users" method="POST">
      <div class="mb-3 form-floating">
        <input
          class="form-control"
          type="text"
          name="email"
          placeholder="Enter Email"
          id="emailInput"
        />

        <label class="form-label words" for="usernameInput">Enter Email</label>
      </div>
      <div class="mb-3 form-floating">
        <input
          class="form-control"
          type="text"
          name="username"
          placeholder="Enter Username"
          id="usernameInput"
        />

        <label class="form-label words" for="usernameInput"
          >Enter Username</label
        >
      </div>
      <div class="mb-3 form-floating">
        <input
          id="passwordInput"
          class="form-control"
          type="password"
          name="password"
          placeholder="Enter Password"
          type="password"
        />
        <label class="form-label words" for="passwordInput"
          >Enter Password</label
        >
      </div>
      <p>
        <input class="btn btn-dark" type="submit" />
      </p>
    </form>
  </section>
</div>
{% endblock %}
