{% extends 'base.html' %} {% block body %}
<h1 class = "welcome">Welcome to {{ user.username }}'s page</h1>
<section class "user_page">
  <div id = "user_ratings">
{%if user.ratings%}
<h2>{{user.username}}'s Ratings</h2>
<ul>
  {% for rating in user.ratings %}
  <li>
    {{ rating.putter.name }}:
    <span class="rating_num_" {{rating.rating_id}}> {{ rating.score }} </span>
  </li>
  {% endfor %}
</ul>
{%else%}
<h4 class="text-muted">This user has not submitted any ratings</h4>
{%endif%}
</div>
<div id = "user_bag">
 {%if user.have_used%}
<h2>{{user.username}}'s Golf Bag</h2>
<ul>
  {% for haveUsed in user.have_used %}
  <div>
  <li>{{ haveUsed.putter.name }} </li>
  <img class = "tiny_img" src={{haveUsed.putter.putter_path}} alt="">
  </div>
  {% endfor %}
</ul>
{%else%}
<h4 class="text-muted">This user has not submitted any putters as used</h4>
{%endif%} 
</div></section>{%endblock%}
